#blog-head{
	height: 100vh;
	opacity: 0.8;
	background-image: url(image/bg.jpg);
	background-size: cover;
	background-position: center;
	padding-top: 1.2rem;

}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    word-wrap: break-all;

}

.strikeThroughDone{
    text-decoration: line-through;
    color: black;
}

body{
    text-align: center;
    background-color: rgb(43, 171, 214);
    color: blue;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 8rem;
    color: crimson;
}

.container{
    text-align: center;
    padding-top: 31px;
    width: 520px;
    margin: 0 auto;
}
.task{
    width: 400px;
    height: 30px;
    
}

.submit{
    width: 100px;
    height: 29px;
}

.todoTable{
    text-align: center;
    margin: 15px auto 0;
}
    






